html{
  height: auto;
  min-height: 100%;
  min-width:100%;
}

body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
  background:url('../images/road.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  }
  
/* Global */
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
  }
  
  ul{
    margin:0;
    padding:0;
  }
  a {
    text-decoration: none !important;
}
  
  /* Header **/
  header{
    background:rgb(68, 2, 54);
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#ce56b0 3px solid;
  }
  header a{
    color:#ffffff;
    text-decoration:none;
    font-size:16px;
  }
  
  header li{
    display:inline;
    padding: 0 20px 0 20px;
  }
  
  header #branding{
    float:left;
  }
  
  header #branding h1{
    margin:0;
  }
  
  header nav{
    float:right;
    margin-top:10px;
  }
  
  header .highlight, header .current a{
    color:#49f705;
    font-weight:bold;
  }
  
  header a:hover{
    color:#cccccc;
    font-weight:bold;
  }
  
  /* Showcase */
  #showcase{
    min-height:400px;
    /* background:url('../images/road.jpg') no-repeat; */
    text-align:center;
    color:#ffffff;
    /* background-color: skyblue; */
  }
  
  #showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
    color: #49f705;
  }
  
  #showcase p{
    font-size:20px;
    /* background-color: #4c6074; */
    color: #49f705;
  }
  .jumbotron{
    /* padding:2rem 1rem; */
    margin-bottom:2rem;
    background-color:rgb(90, 86, 86);

    border-radius:.3rem;
    max-width: 70%;
    margin:0 auto;
    margin-top: 5%;
    border-radius: 70px;
    
  }

    /* forms */
.form-box{
  width: auto;
  height: auto;
  background: rgb(68, 2, 54);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding-bottom: 100px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  
  
  }
  .form-box p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  }
  .form-box input{
  width: 100%;
  margin-bottom: 20px;
  }
  .form-box textarea{
    width: 100%;
    margin-bottom: 20px;
    background: rgb(68, 2, 54);
  }
  
  .form-box input[type="submit"]:hover
  {
  cursor: pointer;
  
  
  }
  
  .form-box a{
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  }
  
  
  .form-box p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  }
  .form-box input{
  width: 100%;
  margin-bottom: 20px;
  }
  .form-box input[type="text"], input[type="password"],input[type="datetime-local"],textarea
  {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  }
  .form-box input[type="submit"]
  {
  border: none;
  outline: none;
  height: 40px;
  background: #49f705;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
  }
  
  /* allrides */

  .section-heading {
  color: #49f705;
  text-align: center;
  }
.button-center{
    text-align: center;
  }

.row{
  margin: 0 auto;  
}
.ride-offers{
  font-size: 1.3rem;
list-style: none;
}

.card{
  margin: 0 auto 0.5rem;
max-width: 855px;
}

.ride-info {
  align-items: center;
  background-color: #f1f1f1;
  color: #4b4b4b;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  padding-left: 1.0rem;
  padding-right: 2.0rem;
  text-decoration: none;
  }
#ride-info {
  align-items: center;
  background-color: #300824;
  color: #eceaea;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  text-decoration: none;
  }
.ride-info:hover,
.ride-info:active {
background-color: #300824;
color: #eceaea;
}


.btnz {
  border-radius: 3px;
  border-style: none;
  padding: 10px 50px;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  outline: none;
 
}
.btn-primary {
  border: 2px solid #4CAF50;
  background-color: #4CAF50;
  color: #FFFFFF; 

}
.btn-secondary {
  border: 2px solid rgb(55, 123, 226);
  background-color: rgb(55, 123, 226);
  color: #FFFFFF; 

}
.btn-danger {
  border: 2px solid #e84118;
  background-color: #e84118;
  color: #FFFFFF; 

}

/* my ride-offers */

.status-accepted {
  background-color: #44bd32;
  color: #fff;
  padding: 7px 15px; 
  text-align: center;
  border-radius: 5px;
  width: 95px;
 
  }
  
  .status-requested {
  background-color: #d1a429;
  color: #fff;
  padding: 7px 15px; 
  text-align: center;
  border-radius: 5px;
  width: 95px;
  
  }
  
.status-rejected {
  background-color: #e84118;
  color: #fff;
  padding: 7px 15px; 
  text-align: center;
  border-radius: 5px;
  width: 95px; 
  }
  

/* ride details */
.card-details {
  background-color: #4c6074;
  color: skyblue;
  display: flex;
  flex-direction: column;
  margin-top: 2.6rem;
  max-width: 650px;
  padding-left: 3%;
  border-left: 20px solid;
  border-left-color: #49f705;
  border-radius: 20px;
  padding-bottom: 3%;
}

.detail {
  width: 170px;
  text-align:right;
}

.details-heading {
  font-style: italic;
  font-weight: 600;
  padding-right: 1.0rem;
} 

.ride-details{
  display:flex;
  align-items: center;
  display: flex;
  font-weight: 400;
  justify-content: space-between;
  padding-left: 1.0rem;
  padding-right: 1.0rem;
  text-decoration: none;
}

/* user profile */
.black-button{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.profile-card-left {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 250px;
  background-color: #cccccc;
  text-align: center;
  font-family: arial;
  /* positioning */
  position: fixed;
  top: 1;
  left: 1;
  
}
button:hover, a:hover {
  opacity: 0.7;
}

.ride-count {
  background-color: #4b4b4b;
  color: rgb(73, 231, 10);
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: blue;
}

.profile-name{
  background-color: #4b4b4b;
  color:rgb(73, 231, 10);
  
}

